/* CUSTOM PROPS */
:root{
  --text-color:#111517;
  --text-family:'Nunito Sans', sans-serif;
  --color:#fff;
  --main-color:#fafafa;
}

/* GLOBAL */
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;

}
.dark-mode{
  --color:#000;
  --text-color:#fff;
  --main-color:#000;

}

*,
*::before
*::after{
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Arial" sans-serif;
  background-color: var(--color);
  color: #222;
  cursor: pointer;
}
img{
  max-width: 100%;
  height: auto;

}
/* CONTAINER */
.container{
width: 100%;
max-width: 1440px;
padding-left: 80px;
padding-right: 80px;
margin-left: auto;
margin-right: auto;
}
/* MAIN CONTENT */
.main-content{
  flex-grow: 1;
}

/* SITE-HEADER */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color);

}

.site-header-heading {
color: var(--text-color);
font-size: 24px;
font-weight: 800;
line-height: normal;
font-family: var(--text-family);
margin: 0;
padding: 0;
padding-top: 23px;
padding-bottom: 24px;

}
.site-header-dark {
  display: flex;
  align-items: center;
}
.dark-img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.dark-text {
color: var(--text-color);
font-size: 16px;
font-weight: 600;
font-family: var(--text-family);
line-height: normal;

}

/* SITE-INPUT */
.site-input {
  background-color:var(--main-color) ;
}

.site-input-form {
  padding-top: 48px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-input-search-input {
  background-color: var(--color);
  border: var(--color);
  color: #848484;
width: 480px;

font-size: 14px;
font-weight: 400;
line-height: 20px;
font-family: var(--text-family);
margin: 0;
padding: 0;
padding-top: 18px;
padding-bottom: 18px;
padding-left: 74px;
background-image: url(../img/search.svg);
background-repeat: no-repeat;
background-position: 32px , 24px;
border-radius: 5px;
box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05)
}
.site-input-select-input {
 width: 200px;
 border-radius: 5px;
 background-color: var(--color);
 font-size: 14px;
 font-weight: 600;
 line-height: 20px;
 font-family: var(--text-family);
 padding-top: 18px;
 padding-bottom: 18px;
 padding-left: 24px;
 border: var(--color);
 color: var(--text-color);


}
.site-input-select-group {
  background-color: var(--color);
padding-top: 16px;
padding-bottom: 16px;
color: var(--text-color);
}
.site-input-select-input-item {
  padding-left: 24px;

}
.site-input-select-input-item:not(:last-child){
margin-bottom: 8px;
}
